* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.max-width {
  max-width: 1300px;
  /* witdth <= 1300px */
  padding: 50px;
  margin: 0px auto;
  /*    tren/duoi  trai/phai */
}

.home-menu {
  background-image: url(./image/hero.jpg);
  background-size: cover;
  height: 700px;

  position: relative;
  /* Tạo mốc cho position */

}

nav {
  margin-left: 10%;
}

nav .max-width {
  /* Hiểu là gì?
  Chỉ style cho thẻ có class .max-width là con/cháu/chắt của thẻ nav
  */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}


nav .menu li {
  list-style: none;
  display: inline-block;
  padding: 0px 30px;
  color: #fff;
  font-size: 14px;

  position: relative;
  z-index: 3;
}

/* style logo */
.max-width .logo img {
  width: 80px;
  height: 80px;

  position: relative;
  z-index: 3;
}

.max-width .menu {
  width: 800px;
  line-height: 80px;
}

.opacity-menu {
  background-color: black;
  height: 700px;


  opacity: 0.7;


  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}


/* Content Menu */
.content-menu {
  position: relative;
  z-index: 3;

  width: 800px;
  height: 200px;
  margin-left: 10%;
  padding-left: 50px;
  margin-top: 8%;
  color: #fff;
}

.content-menu p {
  font-size: 40px;
  font-weight: 200;
  line-height: 60px;
  text-transform: uppercase;
}

.content-menu .multi-button {
  width: 320px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content-menu .multi-button button {
  width: 150px;
  height: 40px;
  outline: none;
  cursor: pointer;
  border: none;

  background: none;
  border: 2px solid orange;
  border-radius: 20px;
}

#button1 {
  background-color: orange;
  color: #fff;
}

#button2 {
  background: transparent;
  color: orange;
}