* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* phần style chung */

.max-width {
  max-width: 1300px;
  /* witdth <= 1300px */
  padding: 50px;
  margin: 0px auto;
  /*    tren/duoi  trai/phai */
}

.max-width .title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  font-weight: 100;
}

.orange-bar {
  width: 100px;
  height: 2px;
  background-color: orange;
  margin-top: 30px;
}


/* Hết phần style chung */

.home-menu {
  background-image: url(./image/hero.jpg);
  background-size: cover;
  height: 700px;

  position: relative;
  /* Tạo mốc cho position */

}


nav {
  margin-left: 10%;
}

nav .max-width {
  /* Hiểu là gì?
  Chỉ style cho thẻ có class .max-width là con/cháu/chắt của thẻ nav
  */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}


nav .menu li {
  list-style: none;
  display: inline-block;
  padding: 0px 30px;
  color: #fff;
  font-size: 14px;

  position: relative;
  z-index: 3;
}

/* style logo */
.max-width .logo img {
  width: 80px;
  height: 80px;

  position: relative;
  z-index: 3;
}

.max-width .menu {
  width: 800px;
  line-height: 80px;
}

.opacity-menu {
  background-color: black;
  height: 700px;


  opacity: 0.7;


  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}


/* Content Menu */
.content-menu {
  position: relative;
  z-index: 3;

  width: 800px;
  height: 200px;
  margin-left: 10%;
  padding-left: 50px;
  margin-top: 8%;
  color: #fff;
}

.content-menu p {
  font-size: 40px;
  font-weight: 200;
  line-height: 60px;
  text-transform: uppercase;
}

.content-menu .multi-button {
  width: 320px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content-menu .multi-button button {
  width: 150px;
  height: 40px;
  outline: none;
  cursor: pointer;
  border: none;

  background: none;
  border: 2px solid orange;
  border-radius: 20px;
}

#button1 {
  background-color: orange;
  color: #fff;
}

#button2 {
  background: transparent;
  color: orange;
}


/* Home Content */
.home-content .max-width {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.max-width .about {
  margin-top: 30px;
}

.about p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
}

.content-boxes {
  display: flex;
  margin: 0px auto;
  margin-top: 30px;
  justify-content: space-between;

  width: 1100px;
}

.content-boxes .content-box {
  width: 250px;
  height: fit-content;
}

.content-boxes .content-box i {
  color: orange;
  font-size: 50px;
  line-height: 70px;
}

.content-boxes .content-box p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  /* line-height: 30px; */
  font-weight: 100;

}

.content-boxes .content-box .title {
  font-size: 20px;
  line-height: 40px;
}


/* Home Banner */
.home-banner {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.home-banner .banner-image {
  width: 25%;
  height: 275px;
}

.home-banner .banner-image img {
  width: 100%;
  height: 275px;
}